@font-face {
  font-family: "Chalk";
  src: url("./fonts/DrawingGuides.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Concert One", cursive;
  font-weight: 400;
}

p {
  color: #efefef;
}

a {
  text-decoration: none;
}

.logo-wrapper {
  padding-left: 50px;
  padding-top: 6px;
}

.logo {
  display: flex;
  width: 100%;
  justify-content: center;
}

.logo p {
  display: inline-block;
  width: 175px;
  -webkit-transform: skewy(-3deg);
  -webkit-backface-visibility: hidden;
}

.logo span {
  text-transform: uppercase;
  font-family: "Squada One", cursive;
  font-weight: 400;
  display: block;
  background: #39500f;
  color: #efefef;
  font-size: 20px;
  position: relative;
  z-index: 1;
  background-image: -webkit-linear-gradient(
    top,
    transparent 0%,
    rgba(0, 0, 0, 0.05) 100%
  );
  -webkit-transition: 1s all;
  background-image: -webkit-linear-gradient(
    left top,
    transparent 0%,
    transparent 25%,
    rgba(0, 0, 0, 0.15) 25%,
    rgba(0, 0, 0, 0.15) 50%,
    transparent 50%,
    transparent 75%,
    rgba(0, 0, 0, 0.15) 75%
  );
  background-size: 4px 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4) inset,
    0 0 20px -5px rgba(0, 0, 0, 0.4), 0 0 0px 3px #efefef inset;
}

.logo p:after,
.logo p:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 100%;
  background: #bbb;
  -webkit-transform: skewY(8deg);
  x-index: -3;
  border-radius: 4px;
}
.logo p:after {
  top: -5px;
  right: 0;
  background: #39500f;
  border: 1px solid #efefef;
}
.logo p:before {
  left: 0;
  bottom: -5px;
  background: #39500f;
  border: 1px solid #efefef;
}

.navigation-wrapper a {
  text-decoration: none;
  color: #3e1e00;
  text-align: center;
  display: inline-block;
  margin-bottom: -5px;
  border-bottom: 5px solid transparent;
  transition: 0.3s;
  font-weight: 700;
}

.navigation-item span {
  font-weight: 700;
}

.navigation-wrapper .navigation-item::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  margin-top: 3px;
  background: #3e1e00;
  transition: width 0.3s;
}
.navigation-wrapper .navigation-item:hover {
  transform: scale(1.1);
}

.navigation-wrapper .navigation-item:hover::after {
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  padding: 15px 25px;
  font-size: 28px;
  font-weight: 700;
  color: transparent;
  text-shadow: 4px 3px 2px rgba(160, 148, 132, 0.58);
}

.navigation {
  display: flex;
}

.navigation-wrapper {
  position: fixed;
  width: 100%;
  height: 130px;
  z-index: 9999;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  background-image: url("./images/wooden-navigation.png");
  background-size: cover;
  background-position: 100% 84%;
  background-repeat: no-repeat;
  box-shadow: inset 0 -2px 10px 5px #5f422e, 0 3px 1px 1px #1f0c0585;
}

.toggleNav {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.toggleNav span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #3e1e00;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  box-shadow: 2px 5px 2px rgba(160, 148, 132, 0.58);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.toggleNav span:nth-child(1) {
  top: 0px;
}

.toggleNav span:nth-child(2),
.toggleNav span:nth-child(3) {
  top: 18px;
}

.toggleNav span:nth-child(4) {
  top: 36px;
}

.toggleNav.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.toggleNav.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.toggleNav.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.toggleNav.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.toggleNav {
  display: none;
}

@media (min-width: 769px) {
  .navigation-items {
    display: flex !important;
  }
  .right-margin {
    margin-right: 80px;
  }
}

@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
  }
  .navigation-wrapper {
    flex-direction: column;
    padding: 15px 0;
    height: auto;
    background-size: auto;
  }

  .logo-wrapper {
    display: flex;
    margin-bottom: 15px;
    padding: 15px 20px 5px 20px;
  }

  .navigation-items {
    flex-direction: column;
    display: none;
  }

  .toggleNav {
    display: flex;
    margin-top: 8px;
    align-self: center;
  }
  .navigation-wrapper .navigation-item:hover::after {
    width: 0;
  }
  .navigation-wrapper .navigation-item:hover {
    transform: scale(1);
  }
}

/* SCHOOL BOARD */

.school-board {
  background-image: url("./images/school-board.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.board-wrapper {
  padding-top: 123px;
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}

.board-text {
  padding-top: 100px;
}

.board-text p {
  font-family: "Chalk";
  font-size: 50px;
  padding: 10px;
  color: #efefef;
  text-align: center;
  transform: rotate(-25deg);
}

.sign-up {
  max-width: 500px;
  background-color: rgba(62, 30, 0, 0.47);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.sign-up h3 {
  color: #efefef;
  font-size: 23px;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
  text-shadow: 4px 3px 2px rgba(18, 17, 16, 0.58);
}

.form-field {
  text-align: center;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 400;
  text-align: left;
  color: #efefef;
  text-shadow: 4px 3px 2px rgba(18, 17, 16, 0.58);
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid transparent;
  transition: 0.4s;
  border-radius: 6px;
  color: #efefef;
  background: rgba(0, 0, 0, 0.45);
}
/* submit button */
#form-submit {
  text-align: center;
  margin-bottom: 1em;
}

input:focus {
  outline: none;
  border: 1px solid #efefef;
}

#form-submit input,
#form-submit input:active {
  background-color: #2d3c13;
  color: #efefef;
  outline: none;
  max-width: 160px;
  border-radius: 0.5em;
  margin-top: 10px;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #efefef;
}

#form-submit input:hover {
  color: #000;
  border: 2px solid #000;
  background: #efefef;
  cursor: pointer;
}

#register-link {
  font-size: 0.75rem;
  text-align: center;
  padding-top: 2em;
  margin-top: 2.5em;
  border-top: 1px solid #eee;
}

#register-link a {
  color: #efefef;
  text-decoration: none;
  transition: 0.3s;
}

#register-link a:hover {
  color: #000;
}

#register-link span {
  color: #90775b;
  font-size: 14px;
}

footer {
  display: flex;
  padding: 50px;
  background-image: url("./images/wooden-navigation.png");
  background-position: 100% 84%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 3px 4px 1px #5f422e, 0 -2px 1px 1px #1f0c0585;
  justify-content: center;
  font-weight: 700;
}

footer p {
  color: #3e1e00;
  font-weight: 700;
  font-size: 26px;
  text-shadow: 4px 3px 2px rgba(160, 148, 132, 0.58);
}

@media (max-width: 1600px) {
  .school-board {
    min-height: 130vh;
  }
  .board-text {
    max-width: 600px;
  }
}

@media (max-width: 1100px) {
  .board-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .school-board {
    height: 100%;
    padding-bottom: 100px;
  }

  .board-text {
    padding-top: 70px;
  }
  .sign-up {
    margin-top: 120px;
  }
  footer {
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .board-text p {
    font-size: 35px;
  }
  .sign-up {
    margin-top: 80px;
  }
}

@media (max-width: 400px) {
  .board-text p {
    font-size: 25px;
  }
  .education-table {
    font-size: 10px;
  }
  .table-responsive .remove-button {
    width: 26px;
    font-size: 10px;
  }
}

.invalid-field {
  border: 1px solid red;
}

.error-message {
  position: relative;
  top: -10px;
  font-size: 15px;
  color: #ff0000;
  text-shadow: 4px 3px 2px rgba(18, 17, 16, 0.58);
}

.logout {
  display: flex !important;
  align-items: center;
}

.logout span {
  align-self: flex-start;
}

.logout img {
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.dashboard {
  min-height: 100vh;
  display: flex;
  padding-top: 238px;
  background-image: url("./images/school-board.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-direction: column;
  align-items: center;
}

.dashboard-container {
  background-color: rgba(62, 30, 0, 0.47);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 100%;
  margin-bottom: 50px;
  padding: 20px 40px 20px 40px;
  text-align: center;
}

p.dashboard-header {
  font-family: "Chalk";
  color: #efefef;
  text-align: center;
  font-size: 70px;
  margin-bottom: 50px;
}

@keyframes anim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.01);
    text-shadow: 0 28px 50px rgba(0, 0, 0, 0.8);
  }
}

p.load-content {
  font-family: "Chalk";
  color: #efefef;
  text-align: left;
  font-size: 50px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: anim 0.6s infinite alternate ease-in-out;
}

p.dashboard-title,
p.dashboard-text {
  font-family: "Concert One", cursive;
  color: #efefef;
  font-size: 25px;
  padding: 20px 0 10px 0;
}

.dashboard-name {
  text-transform: uppercase;
}

.button {
  background-color: #2d3c13;
  color: #efefef;
  outline: none;
  width: 180px;
  border-radius: 0.5em;
  margin-top: 10px;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #efefef;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #efefef;
  color: #000;
  border: 2px solid #000;
}

.dashboard-button {
  font-size: 16px;
  margin: 30px 0 10px 0;
  background-color: #2d3c13;
  color: #efefef;
}

.create-profile,
.education,
.profiles,
.profile,
.posts,
.post {
  min-height: 100vh;
  width: 100%;
  padding-top: 238px;
  background-image: url("./images/school-board.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 80px;
  overflow: hidden;
}

p.create-profile-header,
p.education-header,
p.profiles-header,
p.profile-header,
p.posts-header,
p.post-header {
  font-family: "Chalk";
  color: #efefef;
  text-align: center;
  font-size: 70px;
  margin-bottom: 50px;
}

.create-profile-container,
.education-container,
.profiles-container,
.profile-container,
.posts-container,
.post-container {
  background-color: rgba(62, 30, 0, 0.47);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 100%;
  margin-bottom: 50px;
  padding: 20px 40px 20px 40px;
  margin: auto;
  color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 100%;
  height: 150px;
  color: #efefef;
  background: rgba(0, 0, 0, 0.45);
  border: none;
  outline: none;
  border-radius: 6px;
  resize: none;
  font-size: 16px;
  padding: 10px;
}

textarea:focus {
  border: 1px solid #efefef;
  border-radius: 6px;
  outline: none;
}

.create-profile-container .form-field,
.education-container .form-field {
  width: 600px;
}

.create-profile-container select {
  width: 100%;
  height: 41px;
  font-size: 17px;
  padding-left: 5px;
  color: #efefef;
  text-shadow: 4px 3px 2px rgba(18, 17, 16, 0.58);
  background: rgba(0, 0, 0, 0.45);
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
}

.create-profile-container select:focus {
  border: 1px solid #efefef;
  border-radius: 6px;
}

option {
  background: #1d130e;
}

.create-profile-required {
  padding-bottom: 30px;
  font-size: 17px;
  text-shadow: 4px 3px 2px rgba(18, 17, 16, 0.58);
}

.create-profile-button {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.icon-field input {
  background: transparent;
}

.icon-field {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.fab {
  width: 50px;
  height: 100%;
  font-size: 41px;
  padding: 0 1px;
}

.icon-field input:focus + .fab {
  background: red;
}

.dashboard-handle-link {
  color: #efefef;
  cursor: pointer;
  text-decoration: none;
}

.education-credentials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-table-title {
  color: #efefef;
  font-size: 25px;
  margin: 20px 0;
}

.education-table {
  background: rgba(0, 0, 0, 0.45);
  border: 3px solid #8a6440;
  color: #efefef;
}

table,
td,
th {
  border: 3px solid #8a6440;
  border-collapse: collapse;
}

td:nth-child(4) {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

td,
th {
  text-align: left;
  margin: 0;
  padding: 10px 0 10px 20px;
}

.education-table th {
  width: 200px;
}

.disabled,
input[type="date"]:disabled {
  background: rgba(138, 100, 64, 0.58);
}

p.create-profile-text {
  font-size: 25px;
  font-weight: 400;
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
  border-bottom: 6px double #8a6440;
  border-top: 6px double #8a6440;
  text-transform: uppercase;
  color: #efefef;
}

.create-profile-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  font-size: 15px;
  margin-top: -10px;
  margin-bottom: 15px;
  text-shadow: 4px 3px 2px rgba(18, 17, 16, 0.58);
}

.fa-facebook {
  background: #3b5998;
  border-radius: 6px;
}

.fa-youtube {
  background: #cc181e;
  border-radius: 6px;
}

.fa-instagram {
  background: linear-gradient(to bottom, #833ab4, #fd1d1d, #fcb045);
  border-radius: 6px;
}

@media (min-width: 1600px) {
  .create-profile-container,
  .dashboard-container,
  .create-profile-container,
  .education-container,
  .profiles-container,
  .profile-container,
  .posts-container,
  .post-container {
    width: 50%;
  }
}

@media (max-width: 1600px) {
  .create-profile-container,
  .dashboard-container,
  .create-profile-container,
  .education-container,
  .profiles-container,
  .profile-container,
  .posts-container,
  .post-container {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .create-profile-container .form-field,
  .education-container .form-field {
    width: 100%;
  }
}

form {
  padding: 20px 0px;
}

input.button {
  margin-top: 30px;
}

.previous-button {
  margin: -10px 0 20px 0;
}

.dashboard-container .create-profile-text {
  max-width: 600px;
  margin: 10px auto;
}

.dashboard-buttons {
  margin: 20px 0;
}

.edit-profile-button {
  margin-right: 20px;
}

.delete-button {
  margin-top: 30px;
  background: #a61313;
}

.dashboard-buttons button {
  margin: 10px 10px;
}

.remove-button {
  background: #a61313;
  margin-top: 0;
  width: 40px;
  padding: 6px;
}

.add-edu-checkbox {
  display: flex;
}

.education-checkbox {
  width: 15px;
  height: 15px;
  margin: 4px 0 0 10px;
  cursor: pointer;
}

.posts-container input.button {
  margin-top: 10px;
}

.post-item {
  width: 600px;
  margin-bottom: 20px;
}

.post-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.45);
  background-image: url("./images/school-board.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 6px double #8a6440;
}

.posts img {
  border-radius: 6px;
  box-shadow: 10px 4px 11px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.posts p.create-profile-text {
  width: 600px;
}

.post-left p {
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  font-family: "Chalk";
}

.post-right {
  width: 100%;
}

.post-right p {
  padding-left: 20px;
  padding-top: 10px;
  font-family: "Chalk";
}

.post-lr-wrapper {
  display: flex;
}

.post-content .button {
  margin-right: 5px;
}

.post-content .remove-button {
  width: 60px;
  height: 47px;
  float: right;
  margin-top: 10px;
}

.button-like,
.button-dislike {
  max-width: 60px;
  background: #3b5998;
}

.sc-members {
  display: flex;
  flex-wrap: wrap;
}

.profile-item {
  width: 33%;
  text-align: center;
  margin: 20px 0;
}

.profile-item img {
  border-radius: 6px;
  -webkit-box-shadow: 10px 4px 11px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 10px 4px 11px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.profile-container .create-profile-text {
  width: 600px;
}

.profile-details {
  width: 600px;
}

.profile-details img {
  margin-top: 20px;
  border-radius: 6px;
  -webkit-box-shadow: 10px 4px 11px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 10px 4px 11px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.profile-details-header {
  margin: 20px 0;
  background: rgba(0, 0, 0, 0.45);
  text-align: center;
  border: 6px double #8a6440;
}

.profile-social-links {
  display: flex;
  justify-content: center;
  padding: 10px 0 20px 0;
}

.profile-social-links a {
  color: #efefef;
}

.profile-social-links p:nth-child(-n + 2) {
  padding-right: 22px;
}

.profile-book {
  width: 220px;
  height: 320px;
  background: #fff;
  transform-style: preserve-3d;
  box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5),
    0 20px 100px rgba(0, 0, 0, 0.5);
  transition: 1s;
  margin: 20px 0;
}

.profile-book:hover {
  transform: rotate(-5deg);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5),
    0 10px 100px rgba(0, 0, 0, 0.5);
}

.profile-book:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #946e4ac9;
  transform-origin: bottom;
  transform: skewX(-45deg);
}

.profile-book:after {
  content: "";
  position: absolute;
  top: 1px;
  right: -5px;
  width: 5px;
  height: 100%;
  background: #8a6440;
  transform: skewY(-45deg);
  transform-origin: left;
}

.book-front {
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: left;
  transition: 1s cubic-bezier(0.15, 1.7, 0.84, 0.58);
  background-image: url("./images/book.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #8f6815;
  text-align: center;
}

.profile-book:hover .book-front {
  transform: rotateY(-175deg);
}

.book-details {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 20px;
  z-index: -1;
  width: 100%;
  height: 100%;
  color: #8f6815;
  font-family: "Squada One", cursive;
}

.profile-book span {
  color: #3e1e00;
  font-size: 16px;
}

.profile-book p {
  color: #8f6815;
  padding: 5px 0;
  overflow-wrap: break-word;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-book {
  width: 44%;
  cursor: pointer;
}

.profile-social-links .fab {
  transition: 0.3s;
}

.profile-social-links .fab:hover {
  transform: scale(1.15);
}

.lead p {
  overflow-wrap: break-word;
  line-height: 22px;
}

.table-responsive {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-y: hidden;
}

@media (max-width: 1000px) {
  .profile-item {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .posts p.create-profile-text {
    width: 100%;
  }
  .post-item {
    width: 100%;
  }
  .profile-container .create-profile-text {
    width: 100%;
  }
  .profile-details {
    width: 100%;
  }
  .books {
    flex-direction: column;
  }
  .profile-book {
    width: 100%;
    max-width: 260px;
    margin: 20px auto;
  }
}

@media (max-width: 680px) {
  .post-lr-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .post-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .post-buttons span {
    text-align: center;
  }
  .profile-item {
    width: 100%;
  }
}

@media (max-width: 600px) {
  p.create-profile-header,
  p.education-header,
  p.profiles-header,
  p.profile-header,
  p.posts-header,
  p.post-header {
    font-size: 42px;
  }
  p.create-profile-text {
    font-size: 20px;
  }
  .create-profile-required,
  label {
    font-size: 15px;
  }

  .post-right p {
    padding-left: 0;
  }
  .button {
    width: 140px;
    font-size: 14px;
  }
  .table-responsive {
    display: block;
  }
  td,
  th {
    padding: 10px;
  }
  .education-table .button {
    width: 35px;
  }

  .education-table .remove-button {
    margin: 10px;
    padding: 6px;
  }
  input,
  textarea,
  .create-profile-container select {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .post-left img {
    width: 100%;
  }
  .post-content {
    max-width: 300px;
  }
}

@media (max-width: 400px) {
  .post-content {
    max-width: 250px;
  }
}

@media (max-width: 360px) {
  .post-content {
    max-width: 200px;
  }
}

.comments {
  background-image: none;
  background: rgba(0, 0, 0, 0.45);
}

.comment-button {
  margin: auto;
}

.comments .post-right {
  max-width: 300px;
  overflow-wrap: break-word;
}
